{% extends 'dashboard.html' %}
{% block content %}
<div class="container">
    <h2 class="dashboard-title text-center">Workers List</h2>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Category</th>
                <th>City</th>
                <th>Experience(years)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in worker %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.user.username }}</td>
                <td>{{ i.user.email }}</td>
                <td> {{ i.mobile }}</td>
                <td>{{ i.category }}</td>
                <td>{{ i.city }}</td>
                <td>{{ i.experience }}</td>

                <td class="d-flex gap-1">
                    <form action=" {% url 'send_work_request' req_id=req.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-sm" type="submit">Assign</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center text-muted">No workers found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}