{% extends "dashboard.html" %}
{% block content %}

<div class="container-fluid mt-4">

    <div class="card shadow-sm">
        <div class="card-header bg-white">
            <h5 class="mb-0">
                <i class="bi bi-people"></i> Subscribers
            </h5>
        </div>

        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle">

                    <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Plan</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for i in users %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.username}}</td>
                        <td> {{i.plan}}</td>
                        <!--                        <td>-->
                        <!--                            <span class="badge bg-success">Paid</span>-->
                        <!--                        </td>-->
                        <td>{{i.start_date}}</td>
                        <td>{{i.end_date}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>

</div>

{% endblock %}